<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <a v-bind:href="facebookLink">{{ facebook }}</a>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello You Win!!'
            }
        });
    
            new Vue({
            el: '#app2',
            data: {
                facebook: 'Triwit Katwijit',
                facebookLink: 'https://www.facebook.com/triwit24/'
            }
        });
    </script>
</body>

</html>